@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-mid-rgb: 166, 166, 166;
  --background-end-rgb: 123, 217, 87;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  height: 100;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)) 1%,
    rgb(var(--background-mid-rgb)) 11%,
    rgb(var(--background-end-rgb)) 17%,
    rgb(var(--background-mid-rgb)) 28%,
    rgb(var(--background-mid-rgb)) 70%,
    rgb(var(--background-start-rgb)) 99%
    );
  overflow: scroll;
  background-color: black;
  background-repeat: no-repeat;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 70%;
  --slide-height: 30vh;
  padding: 1.6rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  /* display: flex; */
  touch-action: pan-y;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 26vw;
  padding-left: var(--slide-spacing);
  position: relative;
  padding-top: 3rem;
  padding-bottom: 14rem;
}
.embla__slide__img {
  display: block;
  height: var(--slide-height);
  width: auto;
  object-fit: cover;
}

.pageButtons {
  @apply flex items-center shadow-2xl duration-300 ease-in-out transition-all rounded-md
  hover:-translate-y-1 hover:scale-105 hover:shadow-4xl
  active:translate-y-px active:shadow-lg
}

.contactInput {
  @apply outline-none cursor-pointer bg-slate-100/80 rounded-md shadow-4xl 
  short:py-2 px-6 py-3 
  border-b-4 border-gray-900/40 
  text-gray-950 placeholder-gray-500 
  transition-all focus:border-gray-900/70 focus:text-gray-950 hover:border-gray-900
}

.contactText {
  @apply font-semibold text-center 
  short:text-base
  xs:text-2xl
  md:text-3xl
  lg:text-4xl lg:space-y-6
  xl:text-4xl 
  2xl:text-4xl
}